//@mixin e @include

@mixin titulo{
	font-size: 30pt;
	letter-spacing: 0.3rem;
	transform: rotate(-90deg);
	transform-origin: 3rem 2rem;
	margin-top: 20rem;
	font-family: "Flux Architect Regular";
	text-shadow: 1px 0px 5px rgb(206, 206, 206);
	color:rgb(255, 255, 255);
}

#titulorealizados h1{
	@include titulo
}

.titulo_principal{
    @include titulo
}

.contenedor__titulo__principal{
    @include titulo
}

.titulocontacto{
    @include titulo
}